{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Редагувати</h1>

    <form action="{% url 'encyclopedia:saveEdit' %}" method="post">
        {% csrf_token %}
        <li>  <label for = "{{form.title.id_for_label}}">  {{ form.title.label }}:</label>{{ form.title}}</li>
            <li><label for = "{{form.content.id_for_label}}">  {{ form.content.label }}:</label>{{ form.content}}</li>
                <li> <input type="submit" value="Зберегти"></li>
    </form>

{% endblock %}
   